body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.game_container {

}
.game {
    text-align: center;
    margin: 20px 0 20px 0;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    transition: 0.5s;

}
.board_square {
    width: 100px;
    grid-auto-rows: 100px;
    transition: 10s;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.refresh_icon {
    font-size: 16px;
    color: black;
}